html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, var, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #002D4B;
  background: #E1EEFD url(images/bg_body.png) repeat-x;
}

#main {
  width: 740px;
  margin: 0 auto;
  padding: 0 10px;
  border: 4px solid white;
  background: transparent url(images/bg_banner.jpg) no-repeat;
}

#main h1 {
  color: #FF6600;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 4em;
}

#main h1 strong {
  font-size: 150px;
  color: white;
  line-height: 1em;
  margin-right: -1.25em;
}


#main h2 {
	font: bold 3.5em "Hoefler Text", Garamond, Times, serif;
	border-bottom: 1px solid #002D4B;
	margin-top: 25px;
}

#main h3 {
	color: #F60;
	font-size: 1.9em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 10px;
}

#main p {
	font-size: 1.5em;
	line-height: 150%;
	margin-bottom: 10px;
	margin-left: 150px;
	margin-right: 50px;
}

#main p:first-line {
  font-weight: bold;
  color: #999;
}


#resources {
	margin: 0 0 25px 50px;
	width: 225px;
	float: right;
	padding: 20px;
	background: #F5EFFB;
}

#resources h3 {
	margin-top: 0;
	color: #002D4B;
}

#resources li {
	font-size: 1.5em;
	margin-bottom: 7px;
	color: #207EBF;
}

#main .byline {
  color: #999999;
	font-size: 1.6em;
	margin: 5px 0 25px 40px;
}

#main .byline strong {
	color: #207EBF;
	text-transform: uppercase;
	margin-left: 11px;
} 
#main #legal{
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid #FFF;
	margin-left: 0px;
	padding-left: 150px;
}
