/* reset browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, var, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
ol { 
  margin-left: 1.4em; 
  list-style: decimal; 
}
ul { 
  margin-left: 1.4em; 
  list-style:square; 
}
img {
  border: 0;
}
/* end reset browser styles */

#main {
	float: left;
	width: 580px;
}
#sidebar {
	margin-left: 600px;
	padding: 15px;
	background: #E9F5FE;
}

body {
  color: #B1967C;
  font-family: "Palatino Linotype", Baskerville, serif;
  padding-top: 100px;
  background: #CDE6FF url(images/bg_body.png) repeat-x;
  width: 800px;
  margin: 0 auto;
}
h1 {
  font-size: 3em;
  font-family: "Arial Black", Arial, sans-serif;
}

h2 {
	font-size: 2.2em;
	color: #AFC3D6;
	margin-bottom: 5px;
}

#main h2 {
	border-bottom: 2px white solid;
	background: url(images/bullet_flower.png) no-repeat;
	padding: 0 0 2px 80px;
	color: #E8A064;
}

#main p {
  color: #616161;
  font-family: "Palatino Linotype", Baskerville, serif;
  font-size: 1.1em;
  line-height: 150%;
  margin-bottom: 10px;
  margin-left: 80px;

}

#main .intro {
  color: #6A94CC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 25px;
}

